.cart {
    position: sticky;
    top: 0;
    padding-bottom: 20px;

}

.order-summary {
    font-size: 25px;
    margin-top: 28px;
    margin-left: 45px;
}

.cart-text-right {
    margin-top: 108px;
    font-size: 20px;
    margin-left: 23px;
}

.clear-btn {
    margin-left: 23px;
    border: none;
    padding: 10px 18px;
    color: white;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}