.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
}

.cart-text {
    margin-left: 14px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin: 0;
}

.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.seller {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.ratings {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.004em;
}

.button-cart {
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    border: none;
    padding: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-size: 15px;
}

.button-cart:hover {
    background-color: orange;
}